<dl ng-repeat="chat in chats">
  <dt>{{chat.alias}} <span class="text-muted small">[{{chat.dateTime}}]</span></dt>
  <dd>{{chat.body}}</dd>
</dl>
<form name="chatForm" novalidate>
  <div class="row">
    <div class="col-md-2 col-sm-4">
      <div class="form-group" ng-class="{'has-error': $chatForm.alias.$invalid}">
        <input type="text" class="form-control" name="alias" id="alias" placeholder="Alias" ng-model="chat.alias" required>
      </div>
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="input-group">
        <input type="text" class="form-control" name="body" id="body" placeholder="Message" ng-model="chat.body" required>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="send(chat)">Send</button>
        </span>
      </div>
    </div>
  </div>
</form>